bellatrix-lite/src/main/app/notification-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:management="http://www.mulesoft.org/schema/mule/management"
	xmlns:jetty="http://www.mulesoft.org/schema/mule/jetty" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/jetty http://www.mulesoft.org/schema/mule/jetty/current/mule-jetty.xsd
http://www.mulesoft.org/schema/mule/management http://www.mulesoft.org/schema/mule/management/current/mule-management.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">


	<flow name="notification-configFlow">
		<vm:inbound-endpoint connector-ref="Notification_VM"
			exchange-pattern="one-way" path="notification" doc:name="VM" />
		<set-variable value="#[payload]" variableName="PaymentDetails"
			doc:name="Variable" />
		<foreach collection="payload.notification" doc:name="For Each">
			<set-variable value="#[payload.notificationType]"
				variableName="NotificationType" doc:name="Variable" />
			<set-variable value="#[payload.moduleURL]" variableName="ModuleURL"
				doc:name="Variable" />
			<set-payload value="#[PaymentDetails]" doc:name="Set Payload" />
			<vm:outbound-endpoint connector-ref="Notification_VM"
				exchange-pattern="one-way" path="notification.process" doc:name="VM">
				<set-property propertyName="NOTIFICATION_TYPE" value="#[NotificationType]" />
				<set-property propertyName="NOTIFICATION_URL" value="#[ModuleURL]" />
			</vm:outbound-endpoint>
		</foreach>
	</flow>


	<flow name="notification-process-configFlow">
		<vm:inbound-endpoint connector-ref="Notification_VM"
			exchange-pattern="one-way" path="notification.process" doc:name="VM" />
		<logger level="INFO"
			message="[SENDING Notification for : #[message.inboundProperties.'NOTIFICATION_TYPE']]"
			doc:name="Logger" />
		<set-variable variableName="moduleURL"
			value="#[message.inboundProperties.'NOTIFICATION_URL']" doc:name="Variable" />
		<choice doc:name="Choice">
			<when
				expression="#[message.inboundProperties.'NOTIFICATION_TYPE' == 'defaultTrxReceipt']">
				<set-variable value="#[payload.fromMember.email]"
					variableName="to" doc:name="Variable" />
				<parse-template location="DefaultTransactionReceipt.tmp"
					mimeType="text/html" doc:name="Parse Template" />
				<expression-component doc:name="Expression">
					<![CDATA[
					regMap = new java.util.HashMap();
					regMap['subject']= 'Transaction Receipt';
					regMap['body']= payload;
					regMap['to']= flowVars['to'];
					regMap['from']= 'DOKU';
					payload = regMap;]]>
				</expression-component>
				<logger level="INFO" message="#[payload]" doc:name="Logger" />
			</when>
			<otherwise>
				<logger level="INFO"
					message="[UNHANDLED Notification Type : #[message.inboundProperties.'NOTIFICATION_TYPE']]"
					doc:name="Logger" />
			</otherwise>
		</choice>
	</flow>
</mule>
